@import "../base/settings";

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.pages-model {
  margin: 5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
